/*KLEUREN
E8D191
FFFFFF
E8DDCC
382A1A
801600
*/

body{
	background-color: #382A1A;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}
h2{
	color: #E8D191;
}
.bg-danger{
	background-color: #801600;
	border-radius: 5px;
	color: #FFFFFF;
}
#loginWindow{
	margin: 0 auto;
	background-color: #E8DDCC;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20%;
	width: 400px;
}
#fb-login{
	background-color: #3b5998;
	color: white;
	border-radius: 5px;
	width: 100%;
	display: block;
	padding: 5px;
	text-decoration: none;
	margin-bottom: 10px;
}
#fb-login img{
	width: 40px;
	margin-right: 10px;
}
form{
	background-color: #E8DDCC;
	padding: 10px;
	border-radius: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
form input{
	display: block;
	padding: 5px;
	margin-bottom: 10px;
}
form p{
	padding: 5px;
}